@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@variant dark (&:is(.dark *));

@theme {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));

    --color-sidebar: hsl(var(--sidebar-background));
    --color-sidebar-foreground: hsl(var(--sidebar-foreground));
    --color-sidebar-primary: hsl(var(--sidebar-primary));
    --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
    --color-sidebar-accent: hsl(var(--sidebar-accent));
    --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
    --color-sidebar-border: hsl(var(--sidebar-border));
    --color-sidebar-ring: hsl(var(--sidebar-ring));

    --color-persian-50: #ecf5ff;
    --color-persian-100: #ddecff;
    --color-persian-200: #c1dcff;
    --color-persian-300: #9cc2ff;
    --color-persian-400: #749eff;
    --color-persian-500: #547bff;
    --color-persian-600: #2342f5; /** PRIMARY */
    --color-persian-700: #2940d9;
    --color-persian-800: #2438af;
    --color-persian-900: #25368a;
    --color-persian-950: #161e50;

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--reka-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--reka-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

/*
  The default border color has changed to `current color` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer utilities {
    body,
    html {
        --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, Inter, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        --font-hand: Caveat, cursive;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 231 91.3% 54.9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 92.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 92.8%;
        --input: 0 0% 89.8%;
        --ring: 205 81% 59%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 0 0% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 0 0% 94%;
        --sidebar-accent-foreground: 0 0% 30%;
        --sidebar-border: 0 0% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 6.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --sidebar-background: 0 0% 7%;
        --sidebar-foreground: 0 0% 95.9%;
        --sidebar-primary: 360, 100%, 100%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 0 0% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 0 0% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer utilities {
    .font-inter {
        font-family: Inter, Instrument Sans, ui-sans-serif, system-ui, sans-serif;
    }

    .font-caveat {
        font-family: Caveat, cursive;
    }

    .bg-denim-gradient {
        background: radial-gradient(#144eda, #193c8f, #193c8f);
    }

    .gradient {
        background: linear-gradient(#144eda, #193c8f);
    }

    .bg-endless {
        position: relative;
        background-image: url("/assets/images/profile-bg.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden; /* Optional: hides overflow from pseudo-element */
    }

    .bg-gradient {
        background: linear-gradient(90deg, #30a8ff 0%, #001e36 100%);
    }

    .bg-infinite {
        @apply bg-[url('/assets/images/body-bg.svg')] bg-cover bg-no-repeat;
    }

    .hava-table {
        @apply min-w-full text-sm font-extralight;
    }

    .hava-thead {
        @apply text-xs uppercase bg-sidebar-accent;
    }

    .hava-th {
        @apply p-3 text-xs text-sidebar-accent-foreground font-bold;
    }

    .hava-thead:first-child tr > th:first-child {
        @apply rounded-tl-xl;
    }

    .hava-thead:first-child tr > th:last-child {
        @apply rounded-tr-xl;
    }

    .hava-tbody {
        @apply flex-col;
    }

    .hava-tr {
        @apply odd:bg-white even:bg-muted;
    }

    .hava-tr:last-child td:first-child {
        @apply rounded-bl-xl;
    }

    .hava-tr:last-child td:last-child {
        @apply rounded-br-xl;
    }

    .hava-tr-highlight-archived td {
        @apply text-red-600;
    }

    .hava-tr-hightlight-one {
        @apply bg-persian-100;
    }

    .hava-td {
        @apply whitespace-nowrap px-3 py-2 text-sm text-sidebar-accent-foreground;
    }

    .error {
        @apply text-red-300;
    }

    /** Table for large data not paginated */

    .j-table {
        @apply min-w-full text-[10px] font-extralight;
    }

    .j-thead {
        @apply text-[10px] uppercase bg-sidebar-accent;
    }

    .j-th {
        @apply p-3 text-[10px] text-sidebar-accent-foreground font-bold;
    }

    .j-tbody {
        @apply flex-col;
    }

    .j-tr {
        @apply odd:bg-white even:bg-muted;
    }

    .j-td {
        @apply whitespace-nowrap px-3 py-2 text-[12px] text-sidebar-accent-foreground;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s ease-in-out;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }

    .modal-animation-enter-active,
    .modal-animation-leave-active {
        transition: opacity 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
    }

    .modal-animation-enter-from,
    .modal-animation-leave-to {
        opacity: 0;
    }

    .modal-animation-inner-enter-active {
        transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02) 0.15s;
    }

    .modal-animation-inner-leave-active {
        transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
    }

    .modal-animation-inner-enter-from {
        opacity: 0;
        transform: scale(0.8);
    }

    .modal-animation-inner-leave-to {
        transform: scale(0.8);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
    }
}
